@import url('reset.css');
.container{
    display: flex;
    flex-direction: column;
}

input,select{
        border-radius: 0.2rem;
        font-family: sans-serif;
        padding: 0.4rem;
        border: 1px solid #aaa;
        color: #666;
        margin-bottom: 0.1rem;
        min-width: 189px;
        }

#logo{
    margin: 0;
    background: url(https://www.circlek.pl/cs/CMS/img/circlek_logo.jpg) center no-repeat;
    min-width: 455px;
    height: 170px;
}